In [117]:

from easymoney.money import EasyPeasy
import numpy as np
import pandas as pd
import pickle

In [118]:
# with open('all_movie_data.pkl', 'rb') as ip:
#     old_df = pickle.load(ip)
#     old_df = pd.DataFrame(old_df).T

In [113]:
with open('all_movie_data5.pkl', 'rb') as ip2:
    new_df = pickle.load(ip2)
    df = pd.DataFrame(new_df).T

In [114]:
# old_df.head()

In [115]:
# old_df.shape

In [119]:
df.head()

,budget,distributor,domestic,foreign,genre,num_open_theatres,rating,release,runtime,title
/movies/?id=1000ae.htm,$130 million,Sony / Columbia,"$62,472,100","$183,321,030",Sci-Fi,"3,401",PG-13,"May 31, 2013",1 hrs. 40 min.,After Earth
/movies/?id=1001rabbittales.htm,N/A,Warner Bros.,"$230,500",NaN,Animation,33,G,"November 19, 1982",1 hrs. 30 min.,Bugs Bunny's 1001 Rabbit Tales
/movies/?id=100foot.htm,$22 million,Buena Vista,"$58,003,200","$34,640,000",Drama,"2,023",PG,"August 8, 2014",2 hrs. 2 min.,The Hundred-Foot Journey
/movies/?id=1952.htm,$190 million,Buena Vista,"$95,801,600","$115,718,000",Sci-Fi,"3,972",PG,"May 22, 2015",2 hrs. 10 min.,Tomorrowland
/movies/?id=1dwhereweare.htm,NaN,NaN,NaN,"$4,844,000",NaN,n/a,NaN,NaN,NaN,One Direction: Where We Are

In [121]:
df.shape

(16789, 10)

In [122]:
df.columns

Index(['budget', 'distributor', 'domestic', 'foreign', 'genre',
       'num_open_theatres', 'rating', 'release', 'runtime', 'title'],
      dtype='object')

In [123]:
ep = EasyPeasy()

In [124]:
def adj_infl(dta):
    amount_ = dta[0]
    year_ = str(dta[1].year)
    return ep.normalize(amount= amount_, region='US', from_year=year_, to_year='latest') *1.09

In [125]:
def convert_budget(string):
    try:
        string = string.replace('$', '')
        string = string.replace(',', '')
        if '.' in string:
            string = string.replace('.', '')
            string = float(string.replace(' million', '00000'))
        else:
            string = float(string.replace(' million', '000000'))
    except:
        string = np.nan
    return string

In [126]:
def convert_domestic_foreign(string):
    try:
        string = string.replace('$', '')
        string = float(string.replace(',', ''))
    except:
        string = np.nan
    return string

In [127]:
def convert_runtime(string):
    try:
        string_list = string.split()
        if len(string_list) == 4:
            hrs = float(string_list[0])
            mins = float(string_list[2])
            total = (hrs*60)+mins
            return total
        else:
            return np.nan
    except:
        return np.nan

In [128]:
df['budget'] = df['budget'].map(convert_budget)
df['domestic'] = df['domestic'].map(convert_domestic_foreign)
df['foreign'] = df['foreign'].map(convert_domestic_foreign)
df['runtime'] = df['runtime'].map(convert_runtime)

In [129]:
df.shape

(16789, 10)

In [133]:
df.head()

,budget,distributor,domestic,foreign,genre,num_open_theatres,rating,release,runtime,title
/movies/?id=1000ae.htm,130000000.0,Sony / Columbia,62472100.0,183321030.0,Sci-Fi,"3,401",PG-13,"May 31, 2013",100.0,After Earth
/movies/?id=1001rabbittales.htm,NaN,Warner Bros.,230500.0,NaN,Animation,33,G,"November 19, 1982",90.0,Bugs Bunny's 1001 Rabbit Tales
/movies/?id=100foot.htm,22000000.0,Buena Vista,58003200.0,34640000.0,Drama,"2,023",PG,"August 8, 2014",122.0,The Hundred-Foot Journey
/movies/?id=1952.htm,190000000.0,Buena Vista,95801600.0,115718000.0,Sci-Fi,"3,972",PG,"May 22, 2015",130.0,Tomorrowland
/movies/?id=1dwhereweare.htm,NaN,NaN,NaN,4844000.0,NaN,n/a,NaN,NaN,NaN,One Direction: Where We Are

In [138]:
df = df.replace('N/A', np.nan)
df = df.replace('\xa0n/a', np.nan)

In [142]:
df[np.isfinite(df['budget'])].shape

(2941, 13)

In [139]:
df['adj_release'] = pd.to_datetime(df['release'])
df['worldwide_revenue'] = df['domestic'] + df['foreign']
df['worldwide_profit'] = df['worldwide_revenue'] - df['budget']

In [140]:
df['adj_budget'] = df[['budget', 'adj_release']].apply(adj_infl, axis=1)
df['adj_worldwide_revenue'] = df[['worldwide_revenue', 'adj_release']].apply(adj_infl, axis=1)

ValueError: ('cannot convert float NaN to integer', 'occurred at index /movies/?id=1dwhereweare.htm')

In [ ]:
df.head()

In [111]:
with open('all_movie_data_cleaned_3.pkl', 'wb') as outpick:
    pickle.dump(df, outpick)

In [112]:
df.shape

(2371, 15)