Load our pickle file and convert to a dataframe where we convert columns to floats, dummies, and time objects.

In [64]:
import pickle
import pandas as pd
import numpy as np

In [65]:
with open('all_movie_data.pkl', 'r') as inpick:
    data = pickle.load(inpick)

In [66]:
df=pd.DataFrame(data).T

In [67]:
df.head()

,budget,distributor,domestic,foreign,genre,rating,release,runtime
/movies/?id=1000ae.htm,$130 million,Sony / Columbia,"$60,522,097","$183,321,030",Sci-Fi,PG-13,"May 31, 2013",1 hrs. 40 min.
/movies/?id=1001rabbittales.htm,N/A,Warner Bros.,"$78,350",NaN,Animation,G,"November 19, 1982",1 hrs. 30 min.
/movies/?id=1952.htm,$190 million,Buena Vista,"$93,436,322","$115,718,000",Sci-Fi,PG,"May 22, 2015",2 hrs. 10 min.
/movies/?id=1dwhereweare.htm,NaN,NaN,NaN,"$4,844,000",NaN,NaN,NaN,NaN
/movies/?id=32filmsaboutglenngould.htm,N/A,Samuel Goldwyn,"$1,319,521",NaN,Music Drama,Unrated,"November 26, 1993",1 hrs. 33 min.

In [68]:
def convert_budget(string):
    try:
        string = string.replace('$', '')
        string = string.replace(',', '')
        if '.' in string:
            string = string.replace('.', '')
            string = float(string.replace(' million', '00000'))
        else:
            string = float(string.replace(' million', '000000'))
    except:
        string = np.nan
    return string

In [69]:
def convert_domestic_foreign(string):
    try:
        string = string.replace('$', '')
        string = float(string.replace(',', ''))
    except:
        string = np.nan
    return string

In [70]:
def convert_runtime(string):
    try:
        string_list = string.split()
        if len(string_list) == 4:
            hrs = float(string_list[0])
            mins = float(string_list[2])
            total = (hrs*60)+mins
            return total
        else:
            return np.nan
    except:
        return np.nan

In [71]:
df['budget'] = df['budget'].map(convert_budget)

In [72]:
df['domestic'] = df['domestic'].map(convert_domestic_foreign)

In [73]:
df['foreign'] = df['foreign'].map(convert_domestic_foreign)

In [74]:
df['runtime'] = df['runtime'].map(convert_runtime)

In [75]:
df = df.replace('N/A', np.nan)
df = df.replace('\xa0n/a', np.nan)
df = df.dropna()

In [76]:
df.head()

,budget,distributor,domestic,foreign,genre,rating,release,runtime
/movies/?id=1000ae.htm,130000000.0,Sony / Columbia,60522097.0,183321030.0,Sci-Fi,PG-13,"May 31, 2013",100.0
/movies/?id=1952.htm,190000000.0,Buena Vista,93436322.0,115718000.0,Sci-Fi,PG,"May 22, 2015",130.0
/movies/?id=3burialsofmelquiadesestrada.htm,15000000.0,Sony Classics,5027684.0,4017680.0,Western,R,"December 14, 2005",121.0
/movies/?id=40shadesofblue.htm,1500000.0,Vitagraph,75828.0,96741.0,Drama,R,"September 30, 2005",108.0
/movies/?id=abandon.htm,25000000.0,Paramount,10727683.0,1574536.0,Thriller,PG-13,"October 18, 2002",99.0

In [77]:
df['adj_release'] = pd.to_datetime(df['release'])

In [78]:
df['worldwide_revenue'] = df['domestic'] + df['foreign']
df['worldwide_profit'] = df['worldwide_revenue'] - df['budget']

In [79]:
df.head()

,budget,distributor,domestic,foreign,genre,rating,release,runtime,adj_release,worldwide_revenue,worldwide_profit
/movies/?id=1000ae.htm,130000000.0,Sony / Columbia,60522097.0,183321030.0,Sci-Fi,PG-13,"May 31, 2013",100.0,2013-05-31,243843127.0,113843127.0
/movies/?id=1952.htm,190000000.0,Buena Vista,93436322.0,115718000.0,Sci-Fi,PG,"May 22, 2015",130.0,2015-05-22,209154322.0,19154322.0
/movies/?id=3burialsofmelquiadesestrada.htm,15000000.0,Sony Classics,5027684.0,4017680.0,Western,R,"December 14, 2005",121.0,2005-12-14,9045364.0,-5954636.0
/movies/?id=40shadesofblue.htm,1500000.0,Vitagraph,75828.0,96741.0,Drama,R,"September 30, 2005",108.0,2005-09-30,172569.0,-1327431.0
/movies/?id=abandon.htm,25000000.0,Paramount,10727683.0,1574536.0,Thriller,PG-13,"October 18, 2002",99.0,2002-10-18,12302219.0,-12697781.0

In [80]:
with open('all_movie_data_cleaned.pkl', 'w') as outpick:
    pickle.dump(df, outpick)